<style>
  .floating-button-div {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.fb {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
</style>

<footer class="footer">
  &copy;2023 - <%= new Date().getFullYear(); %> <span id="red">rad</span>Blok
</footer>

<!-- <div class="center-switch">
  <label class="switch">
    <input type="checkbox" id="darkModeToggle">
    <span class="slider"></span>
  </label>
</div> -->


<div class="floating-button-div">
  <label class="switch">
      <input type="checkbox" id="darkModeToggle">
      <span class="slider"></span>
  </label>
  <span class="toggle-label"></span>
</div>


<script>
  var floatingButtonContainer = document.querySelector('.floating-button-div');
  var scrollY = window.scrollY;

  window.addEventListener('scroll', function() {
    scrollY = window.scrollY;
    floatingButtonContainer.style.top = scrollY + window.innerHeight - 150 + 'px';
  });
</script>

<script>
  
  const darkModeToggle = document.getElementById('darkModeToggle');
  const body = document.body;

  // Ensure that darkModeToggle has a default value
  darkModeToggle.checked = localStorage.getItem('darkMode') === 'true';

  // Set initial dark mode state
  setDarkMode(darkModeToggle.checked);

  darkModeToggle.addEventListener('change', function () {
    const isDarkModeEnabled = darkModeToggle.checked;
    setDarkMode(isDarkModeEnabled);

    // Save user preference to localStorage
    localStorage.setItem('darkMode', isDarkModeEnabled);
  });

  function setDarkMode(enableDarkMode) {
    const root = document.documentElement;

    // Set CSS variables for dark mode
    root.style.setProperty('--background-color', enableDarkMode ? '#1c1c1c' : '#ffffff');
    root.style.setProperty('--text-color', enableDarkMode ? '#ffffff' : '#1c1c1c');
    // Add more variables as needed

    // Set the toggle button state
    darkModeToggle.checked = enableDarkMode;
    // Toggle a class on the body to apply Dark Mode styles
    body.classList.toggle('dark-mode', enableDarkMode);
  }
</script>
