


<header class="header">
    <a href="/" class="header__logo"><span id="red">rad</span>Blok</a>

    <nav class="header__nav">
        <ul>
      <li><a href="/dashboard" class="<%= isActiveRoute('/dashboard', currentRoute) %>">Dashboard</a></li>
            <!-- Toggle button for dark mode -->
            <% if (user) { %>
                <!-- Show the following links only if the user is logged in -->
                <li><a href="/logout">Logout</a></li>
              <% } else { %>
                <!-- Show login and register links when the user is not logged in -->
                <li><a href="/admin">Login</a></li>
                <li><a href="/register">Register</a></li>
              <% } %>

    

    <span class="authorspan">@<%= locals.user ? locals.user.username : 'No User Data' %></span>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="search">
                <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="red" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.875 14.875L11.7938 11.7938" stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        </button>
    </div>
    

    
</header>

<div class="toggle-container">
    <label class="switch">
        <input type="checkbox" id="darkModeToggle">
        <span class="slider"></span>
    </label>
    <span class="toggle-label"></span>
</div>