
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const allButtons = document.querySelectorAll('.searchBtn');
    const searchBar = document.querySelector('.searchBar');
    const searchInput = document.getElementById('searchInput');
    const searchClose = document.getElementById('searchClose');
    const menuIcon = document.querySelector('.menu-icon');
    const headerNav = document.querySelector('.header__nav');

    for (const button of allButtons) {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            searchBar.style.visibility = 'visible';
            searchBar.classList.add('open');
            this.setAttribute('aria-expanded', 'true');
            searchInput.focus();
        });
    }

    searchClose.addEventListener('click', function () {
        searchBar.style.visibility = 'hidden';
        searchBar.classList.remove('open');
        this.setAttribute('aria-expanded', 'false');
    });

    menuIcon.addEventListener('click', function (event) {
        event.preventDefault();
        headerNav.classList.toggle('menu-visible');
    });
});

  
  </script>

<header class="header">
    <a href="/" class="header__logo"><span id="red">rad</span>Blok</a>

    <nav class="header__nav">
        <ul>
      <li><a href="/dashboard" class="<%= isActiveRoute('/dashboard', currentRoute) %>">Dashboard</a></li>
            <!-- Toggle button for dark mode -->
            <% if (user) { %>
                <!-- Show the following links only if the user is logged in -->
                <li><a href="/logout">Logout</a></li>
              <% } else { %>
                <!-- Show login and register links when the user is not logged in -->
                <li><a href="/admin">Login</a></li>
                <li><a href="/register">Register</a></li>
              <% } %>

    

    <span class="authorspan">@<%= locals.user ? locals.user.username : 'No User Data' %></span>
        </ul>
    </nav>
</header>

<div class="toggle-container">
    <label class="switch">
        <input type="checkbox" id="darkModeToggle">
        <span class="slider"></span>
    </label>
    <span class="toggle-label"></span>
</div>