<h1 class="about">About <span id="red">rad</span>Blok</h1>

<div class="author container">
    <!-- <h1 class="author_heading">Standard Operating Procedures</h1> -->
    <h1 class="author_heading">The Blog WebApp is Still Under Development</h1>
    <p class="author__body">While browsing the site, I would just like to inform you that there are posts that may 
        not make sense. That is because those are test Blog Post. I have modified the Blog to put the recent post last. So that 
        they are far from the eyes. But if you reach them then thank you for exploring. But those post will be removed once the implementation of a few features 
        I am working on are properly functional. 
    </p>

    <p class="author__body">Thank You for paying a visit.</p>
</div>