<h3 class="about"><span id="red">rad</span>Blok</h3>


<!-- Profile Section -->
<div class="profile">
    <img src="/img/profile.jpeg" alt="Profile Picture" class="profile-picture">
    <div class="profile-info">
        <h2 class="profile-name">Lolito.M</h2>
        <p class="profile-bio">Integrations Analyst | Blogger | Developer | Designer</p>
    </div>
</div>


<div class="author container">
    <h1 class="author_heading">Digital Articles</h1>
    <p class="author__body">Launched in January 2024,  <span id="red">rad</span>blok</span> is a 
        dedicated online platform under the esteemed banner 
        of ORIGINAL DESIGN STUDIO. Our mission is simple: to provide a space for crafting creative written content. Join us as we embark on this journey of storytelling and imagination. 
    </p>
    <p class="author__body">Thank You for paying a visit.</p>
    <p class="author__body"><span>With ❤️ from <span id="red">rad</span>blok</span></p>
    <p>Also check: <a href="https://radblokmultimedia.onrender.com/" target="_blank"><span class="radblokmultimedia">radblok Multimedia Blog</span></a></p>

</div>