

  
  <section class="articles container">
    <div class="author">
        <h1 class="author__heading">Search Results</h1>
    </div>
    
    <ul class="article-ul">
        <% if (data.length > 0) { %>
            <% data.forEach(post => { %>
                <li class="article-list__item">
                    <a href="/post/<%= post._id %>">
                        <span><%= post.title %></span>

                        <% if (post.createdAt) { %>
                            <span class="article-list__date">
                                <% if (post.createdAt instanceof Date && !isNaN(post.createdAt)) { %>
                                    <%= post.createdAt.toDateString() %>
                                <% } else { %>
                                    <%= 'Invalid date: ' + post.createdAt %>
                                <% } %>
                            </span>
                        <% } else { %>
                            <span class="article-list__date">No date available</span>
                        <% } %>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <p>No results found</p>
        <% } %>
    </ul>
  
  
  </section>